.users-container{
    display: flex;
    flex-direction: row;
    background-color:cadetblue;
    border-top-left-radius: 40px;
}

.users-table-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    width: 100%;
}

.navHeader{
    display: flex;
    width: 100%;
    height: 56px;
    padding: 17.792px 20.417px;
    justify-content: center;
    align-items: flex-start;
    gap: 701.083px;
    flex-shrink: 0;
    border-bottom: 0.729px solid var(black, rgba(0, 0, 0, 0.10));
    background: #F1F1F1;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.navHeader h1{
    color: #000;
    font-feature-settings: 'cv11' on, 'cv01' on, 'ss01' on;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
    letter-spacing: 1.68px;
}



.users-table{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 1176px;
    height: 600px;
}

.users-table-functions{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding: 10px;
}

.users-table-body{
    background-color: white;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
    height: 100%;
}

.users-table-body table{
    height: 100%;
}

.users-table-body td{
    padding: 10px;
    text-align: center;
}

.users-table-body thead th{
    background: rgb(173, 167, 255);
    color: white;
    width: 919px;
    height: 48px;
    stroke-width: 1px;
    stroke: rgba(58, 53, 65, 0.12);
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
}


.users-table-body p{
    font-size: 30px;
}

.users-pagination{
    display: flex;
    gap: 30px;
    padding: 10px;
}

.users-pagination button{
    background-color: rgb(173, 167, 255);
    width: 120px;
    border-radius: 30px;
    color: white;
    border: none;
    cursor: pointer;
}

.users-table button{
    display: flex;
    padding: 7px 22px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.searchBar{
    width: 170px;
    height: 28px;
    border-radius: 5px;
    border: 1px solid rgba(58, 53, 65, 0.29);
    color: rgba(58, 53, 65, 0.38);
    padding: 17px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 240% */
    letter-spacing: 0.15px;
}

.userIcon{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

/* FUNCTION BUTTONS */
.users-table-functions Button{
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    background-color: rgb(173, 167, 255);
    color: white;
    border: none;
    cursor: pointer;
}


